* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is the #1 fix for matching Rainmeter */
}

body {
  background: #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.flex-item {
  list-style: none;
}

.current-weather-icon {
  width: 128px;
  height: 128px;
}
