* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is the #1 fix for matching Rainmeter */
}

body {
  background: #000;
}

.current-weather-icon {
  width: 128px;
  height: 128px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  justify-items: center;
  list-style: none;
  gap: 10px;
}
